.index-body {
    background-image: linear-gradient(rgba(7, 7, 7, 0.692), rgba(0, 0, 0, 0.644)), url(../images/backgrounds/Collagetop.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    background-color: black;
}

.login-body {
    background-image: linear-gradient(rgba(7, 7, 7, 0.829), rgba(0, 0, 0, 0.76)), url(../images/backgrounds/Collagetop.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    background-color: black;
}

/*contenedor de géneros*/
#genres-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
}

#genres-container h3 {
    color: #fff;
    font-size: 30px;
}

.botones-generos {
    margin-top: 25px;
}

.botones-generos button {
    padding: 10px;
    background-color: transparent;
    color: #f3f3f3;
    font-weight: bold;
    border: none;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10%;
    word-spacing: 5px;

}

.botones-generos button:hover {
    background-color: #f40303;
    box-shadow:
        0 0 15px #f40303,
        0 0 25px #f40303,
        0 0 100px #f40303;
}

#resultados-busqueda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
}

#resultados-busqueda h3 {
    color: #fff;
    font-size: 30px;
}